@inject HttpClient Http

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/saving"><span class="oi oi-home" aria-hidden="true"></span> bogle.tools/saving</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        @if (priorities == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <div class="nav-item px-2">
                <NavLink class="nav-link" href="/saving">
                    Saving Summary
                </NavLink>
            </div>
            foreach (var priority in priorities) {
                var href = "/saving/" + @priority.step;
                <div class="nav-item px-2">
                    <NavLink class="nav-link" href="@href">
                        @priority.number: @priority.title
                    </NavLink>
                </div>
            }
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private InvestmentPriority[]? priorities;

    protected override async Task OnInitializedAsync()
    {
        priorities = await Http.GetFromJsonAsync<InvestmentPriority[]>("data/investment-priorities.json");
    }
}
