@page "/about"

<PageTitle>about bogle.tools</PageTitle>

<h1>About bogle.tools</h1>

This site aims to provide useful tools to Bogleheads.org users.<br/><br/>

It provides tools to help you:
<ul>
<li>Plan Annual Saving</li>
<li>Compose Portfolio Review posts</li>
<li>Search bogleheads.org</li>
<li>Check 3 Fund Performance</li>
</ul>

<br/>
<b>Privacy</b> - None of the answers you fill out on this site get sent to a server. All calculations are done on your device (PC/Phone/Tablet).<br/>
<br/>
<b>Programmers</b> - This site is open source: <a target=_blank href='https://github.com/bogle-tools/site'>github.com/bogle-tools/site</a> ↗️ is where the code is shared and issues are listed.<br/>

<br/>
<br/>
<p>Created by <a target=_blank href="https://linktr.ee/rrelyea">Rob Relyea</a> ↗️</p>

