@page "/saving/about"

<PageTitle>saving/about</PageTitle>

<h1>About bogle.tools/saving</h1>

This site attempts to help you enact the <a href="https://www.bogleheads.org/wiki/Prioritizing_investments">Prioritizing Investments strategies from the Bogleheads Wiki<span class="oi oi-external-link m-2 aria-hidden="true"></span></a> <br/>

I plan to add tools to the pages to help you understand your progress and potential.<br/>


<br/>
<br/>
<br/>
<p>Created by <a href="mailto:rob@relyeas.net">Rob Relyea</a></p>

