@page "/saving/about"

<PageTitle>saving/about</PageTitle>

<h1>About bogle.tools/saving</h1>

This site attempts to help you enact the <a href="https://www.bogleheads.org/wiki/Prioritizing_investments">Prioritizing Investments strategies from the Bogleheads Wiki<span class="oi oi-external-link m-2 aria-hidden="true"></span></a> <br/>
<br/>
Privacy - None of the answers you fill out on this site get sent to my server. All calculations are done on your PC/Phone/Tablet.<br/>
<br/>
Programmers - <a href='https://github.com/bogle-tools/site'>github.com/bogle-tools/site</a> is where the code is shared and issues are listed.<br/>

<br/>
<br/>
<br/>
<p>Created by <a href="https://linktr.ee/rrelyea">Rob Relyea</a></p>

