@page "/"

<PageTitle>
bogle.tools
</PageTitle>

<p><a href='search'>Search bogleheads.org</a></p>
<p><a href='saving'>Prioritizing Saving Tool</a></p>
<p><a href='https://rrelyea.github.io/3fund'>3fund Performance</a></p>