@page "/"

<PageTitle>
bogle.tools
</PageTitle>

<p><a href='saving'>Annual Saving</a> - A tool to help apply bogleheads.org's Prioritizing Investing to ensure you get the most for your savings $ </p>
<p><a href='portfolio'>Portfolio Review</a> (<b>Preview</b>) - A tool to help collect and format info about you and your portfolio (as per "Asking Portfolio Questions" from bogleheads.org)</p>
<p><a href='search'>Bogleheads.org Search</a> - Use the search engine of your choice to focus on just the forums, wiki, etc...</p>
<p><a target=_blank href='https://rrelyea.github.io/3fund'>3fund Performance</a> - See daily / monthly / yearly / all-time performance of your three fund portfolio</p>


