@page "/3fund"
@inject IJSRuntime JSRuntime

<PageTitle>
3fund performance
</PageTitle>

<div>
    Our 3fund performance site is currently hosted on a different server. <br/>
    <br/>
    <p>Redirecting to <a target=_blank href=https://rrelyea.github.io/3fund>rrelyea.github.io/3fund</a> in a new tab....</p>

    <br/>
    <p>[ <b>News:</b> Read/subscribe to updates at <a target=_blank href=https://bogletools.substack.com>bogletools.substack.com</a> ]</p>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await JSRuntime.InvokeVoidAsync("open", "https://rrelyea.github.io/3fund" ,"_blank");     
    }
}