@page "/about"

<PageTitle>about bogle.tools</PageTitle>

<h1>About bogle.tools</h1>

This site aims to provide useful tools to people interested in optimizing their finances.<br/><br/>

It provides tools to help you:
<ul>
<li>Organize your Portfolio</li>
<li>Portfolio Review via bogleheads.org</li>
<li>Plan Annual Saving</li>
<!--<li>Plan Retirement</li>-->
</ul>
<br/>

<p>[ <b>News:</b> Read/subscribe to updates at <a target=_blank href=https://bogletools.substack.com>bogletools.substack.com</a> ]</p>
<br/>
<p><b>Feedback Welcome:</b> via email to <a href="mailto:suggestions@bogle.tools">suggestions@bogle.tools</a> or via Private Message to Rob Relyea on bogleheads.org</p>
<br/>
<b>Privacy</b> - None of your data leaves this device (PC/Phone/Tablet). If you save it, it will be saved to this browser's local storage only.<br/>
(if you set up stock <a href=updated-quotes>price updating</a>, requests to servers for quotes contain ticker symbols only.)<br/>
<br/>
<b>Programmers</b> - This site is open source. See <a target=_blank href='https://github.com/bogle-tools/site'>github.com/bogle-tools/site</a> ↗️ for code and an issues list.<br/>
