@page "/help"
@inject IAppData appData
@inject NavigationManager Navigation
@using Models;

<PageTitle>Help - MultiFol.io</PageTitle>

<div style=float:left>
    <h4 style="max-width:450px">
        @pageHeading <h6 style=display:inline>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[@appData.CurrentProfileName profile]</h6>
    </h4>
</div>
<div style=clear:left;margin-left:1.5in><a href=/profiles @onclick=navWithBackStack @onclick:preventDefault >(manage profiles)</a></div>

<p style=clear:left>
MultiFol.io provides useful tools to optimize personal finances:
</p>
<ul>
<li>Organize your Portfolio</li>
<li>Plan your Annual Savings</li>
</ul>

<p>
<b>Transitioning:</b> We are moving to a new brand: 'MultiFol.io' <br/>
We'll try to do this in a way that makes the transition easy for you and your data. We plan to enable this transition by the middle of June 2024, we'll transition this site to a new location and help you maintain your data nicely.
</p>

<p><b>Profiles</b><br/>
    One can have one or more profiles.
    Each profile has portfolio and savings plan data.
    Only one profile is active at a time.
    <br/>
    At <a href=/profiles>/profiles</a>, you can:
    <ul>
        <li>Switch to another profile</li>
        <li>Create a new profile</li>
        <li>Rename a profile</li>
        <li>Delete your local copy of a profile</li>
        <li>Create a new copy of a profile and its data via "CopyTo" (this sends data to another browser on the same device, a browser on another device, or another user on whichever device they want to use)</li>
    </ul>
    Navigate to <a href=/profiles>/profiles</a> by clicking "manage profiles" in the top right of most pages or "multiple profiles" on home page.
</p>

<p><b>Updating Portfolio Data</b><br/>
See <a href="/updating-portfolio">3 ways to update portfolios</a>.</p>

<p><b>Related Bogleheads.org Forum Threads</b><br/>
<ul>
    <li><a target=_new href="https://www.bogleheads.org/forum/viewtopic.php?t=421287">tracking IBONDs in your portfolio with bogle.tools</a>↗️</li>
    <li><a target=_new href="https://www.bogleheads.org/forum/viewtopic.php?t=394456">bogle.tools/portfolio-review - tool to help collect and format Portfolio Review info</a>↗️</li>
    <li><a target=_new href="https://www.bogleheads.org/forum/viewtopic.php?t=393724">bogle.tools/savings-planner - tool to Prioritize Investments (per Boglheads wiki)</a>↗️</li>
    <li><a target=_new href="https://www.bogleheads.org/forum/viewtopic.php?t=398096">bogle.tools - help others with more CSV file format examples from different Custodians</a>↗️</li>
    <li><a target=_new href="https://www.bogleheads.org/forum/viewtopic.php?t=388721">bogle.tools/financial-variables - (github repository for well known values that change over time)</a>↗️</li>
</ul>
</p>

<p><b>Privacy</b><br/>
<ul>
    <li>Your portfolio/savings plan data for each profile is only stored on your local device (laptop, phone, tablet) in your web browser's local storage.</li>
    <li>We don't store or harvest data about any user's financial information</li>
    <li>You can delete each profile's data at any point via the "del" command in <a href="/profiles">/profiles</a></li>
    <li>You can send a copy of a profile and its data to another device via the "CopyTo..." command in <a href="/profiles">/profiles</a></li>
    <li>
        If you choose to have the site <a href=/updating-portfolio>update stock/etf/fund prices via eodhd.com</a>, your API key and stock ticker list will be sent to api.bogle.tools.
        api.bogle.tools will make the request to eodhd.com on your behalf.
        bogle.tools and api.bogle.tools servers won't store your API key or stock tickers in any way.
        See <a target=_new href=https://eodhd.com/financial-apis/privacy-policy>eodhd.com's privacy policy</a>↗️.
    </li>
</ul>
</p>

<p><b>Questions or Feedback Welcome</b><br/>via email to <a href="mailto:suggestions@multifol.io">suggestions@multifol.io</a> or via Private Message to Rob Relyea on Bogleheads.org</p>

<p><b>Programmers</b><br/>This site is open source. See <a target=_blank href='https://github.com/multifol-io/site'>github.com/multifol-io/site</a> ↗️ for code and and issues list.</p>

@code {
    private void navWithBackStack()
    {
        appData.LastPageUri = Navigation.Uri;
        Navigation.NavigateTo("/profiles");
    }

    string pageHeading = "Help/FAQ";
}