@page "/faq"
@inject IAppData appData
@inject NavigationManager Navigation

<PageTitle>FAQ - bogle.tools</PageTitle>

<div style=float:left>
    <h4 style="max-width:450px">
        @pageHeading <h6 style=display:inline>for @appData.CurrentProfileName profile</h6>
    </h4>
</div>
<div style=clear:left;margin-left:1.5in><a href=/profiles @onclick=navWithBackStack @onclick:preventDefault >(manage profiles)</a></div>

<p style=clear:left>
This site provides useful tools to optimize personal finances:
</p>
<ul>
<li>Organize your Portfolio</li>
<li>Plan your Annual Savings</li>
</ul>

<p><b>Profiles</b><br/>
    One can have one or more profiles.
    Each profile has portfolio and savings plan data.
    Only one profile is active at a time.
    <br/>
    At <a href=/profiles>/profiles</a>, you can:
    <ul>
        <li>Switch to another profile</li>
        <li>Create a new profile</li>
        <li>Rename a profile</li>
        <li>Delete your local copy of a profile</li>
        <li>Create a new copy of a profile and its data via "CopyTo" (this sends data to another browser on the same device, a browser on another device, or another user on whichever device they want to use)</li>
    </ul>
    Navigate to <a href=/profiles>/profiles</a> by clicking "xyz profile" in the top right of most pages.
</p>

<p><b>Updating Portfolio Data</b><br/>
See <a href="/updating-portfolio">3 ways to update portfolios</a>.</p>

<p><b>Privacy</b><br/>
<ul>
    <li>Your portfolio/savings plan data for each profile is only stored on your local device (laptop, phone, tablet) in your web browser's local storage.</li>
    <li>We don't store or harvest data about any user's financial information</li>
    <li>You can delete each profile's data at any point via the "del" command in <a href="/profiles">/profiles</a></li>
    <li>You can send a copy of a profile and its data to another device via the "CopyTo..." command in <a href="/profiles">/profiles</a></li>
    <li>
        If you choose to have the site <a href=/updating-portfolio>update stock/etf/fund prices via EODHistoricalData.com</a>, your API key and stock ticker list will be sent to api.bogle.tools.
        api.bogle.tools will make the request to EODHistoricalData.com on your behalf.
        bogle.tools and api.bogle.tools servers won't store your API key or stock tickers in any way.
        See <a target=_new href=https://eodhistoricaldata.com/financial-apis/privacy-policy>EODHistoricalData.com's privacy policy</a>↗️.
    </li>
</ul>
</p>

<p><b>Questions or Feedback Welcome</b><br/>via email to <a href="mailto:suggestions@bogle.tools">suggestions@bogle.tools</a> or via Private Message to Rob Relyea on Bogleheads.org</p>

<p><b>News</b><br/>Read/subscribe to updates at <a target=_blank href=https://bogletools.substack.com>bogletools.substack.com</a></p>

<p><b>Donate</b><br/>We appreciate all of our users! Support continued enhancements via this link: <a target=_blank href="https://donate.stripe.com/4gw0290rMa7Z7v2aEE">donate.stripe.com</a>↗️ (accepts Credit Cards, Apple Pay, or Google Pay)</p>

<p><b>Programmers</b><br/>This site is open source. See <a target=_blank href='https://github.com/bogle-tools/site'>github.com/bogle-tools/site</a> ↗️ for code and and issues list.</p>

@code {
    private void navWithBackStack()
    {
        appData.LastPageUri = Navigation.Uri;
        Navigation.NavigateTo("/profiles");
    }

    string pageHeading = "Help/FAQ";
}