@page "/financial-variables"
@inject HttpClient Http


<h3 style="max-width:350px">
                Financial-Variables
</h3>

A repository that would collect and share financial-variables from IRS and other sources, that would:

<ul>
    <li>be easy to find</li>
    <li>be accessible to people</li>
    <li>have file formats easily accessible to programs and spreadsheets</li>
    <li>(perhaps APIs as easily accessible to programs as well)</li>
    <li>be up-to-date (automatically scrape data sources and update, or manually updated by this team when announced)</li>
</ul>
<br/>

<h4>github repository</h4>

<a target=_blank href=https://github.com/bogle-tools/financial-variables>github.com/bogle-tools/financial-variables</a>
<br/>
<br/>

<h4>Details/Discussion</h4>

<a target=_blank href=https://www.bogleheads.org/forum/viewtopic.php?p=6928838#p6928838>Proposal and Discussion of progress</a> on bogleheads forum (thread started on 10/23/2022).
<br/>
<br/>

<p><b>Feedback Welcome:</b> The Financial-Variables idea/repository is early in its development. Feedback is welcome on <a target=_blank href='https://www.bogleheads.org/forum/viewtopic.php?p=6928838#p6928838'>forum post</a> or via <a target=_blank href="https://linktr.ee/rrelyea">email/twitter</a> or via a <a target=_blank href=https://github.com/bogle-tools/financial-variables>github issue</a>!</p>
