@page "/"

<PageTitle>
bogle.tools
</PageTitle>

<p>
    <a href='portfolio'>
        <span style="margin:3;font-Size:24pt">📈</span>
        Portfolio Tracker</a><br/>
        organize your portfolio; (then do a <a href=/portfolio-review>Portfolio Review</a>)
</p>
<p>
    <a href='saving'>
        <span style="margin:3;font-Size:24pt">💰</span>
        Saving Plan</a><br/>
        plan your annual savings
</p>
<hr/>
<p>
    <a href='rsu-tracker'>
        <span style="margin:3;font-Size:24pt">🔮</span>
        RSU Tracker</a><br/>
        track Restricted Stock Unit grants
</p>
<!--<p><a href='retirement'><span style="margin:3;font-Size:24pt">🎉</span> Retirement Plan</a> - plan your retirement</p>-->
<br/>



