@namespace Pages
@inject NavigationManager Navigation

@if (new Uri(Navigation.Uri).Host == "bogle.tools")
{
<p style='clear:left;border:1px solid black;padding:2px;'>
    <b style=font-size:24pt>Time Critical:</b><br/>
    This site has moved to <a href=https://multifol.io target=_blank>multifol.io</a><br/>
    1) SHORTCUTS: Please update any shortcuts you use to navigate to the new site.<br/> 
    2) DATA MIGRATION: If you have used this site to enter your portfolio, RSUs, or savings plan, you need to migrate your data. Please email rob@multifol.io for instructions.
</p>
}
