@page "/updated-quotes"
@inject IAppData appData


<PageTitle>Updated Quotes</PageTitle>

<h1>Updated Stock/Fund Quotes</h1>

The <a href=/portfolio>portfolio tool</a> can have prices of stocks/funds updated, but you need a free account at EODHistoricalData.com<br/><br/>

Steps:
<ol>
    <li><a href=https://eodhistoricaldata.com/register target=_new>Register</a> for free account for updated quotes at EODHistoricalData.com. They will email a free API key. You'll get 20 free quotes a day. (And can buy another 100,000 quotes for $5 from that site, which is 200 quotes per penny.)</li>
    <li>Enter key into this tool. Then press Save button at top-right of page.</li>
    <EditForm Model="familyData">
        <label>EODHistoricalData.com free API key:</label><input type=text @bind-Value=familyData.EODHistoricalDataApiKey @bind-Value:event=oninput placeholder='apikey' />
    </EditForm>
</ol>
<p></p>

@code{    
    private FamilyData familyData {
        get {
            return appData.FamilyData;
        }
        set {
            appData.FamilyData = value;
        }
    }
}