@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            <MyErrorBoundary @ref="boundary">
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <div style="display: table; height: 400px; overflow: hidden;">
                    <div style="display: table-cell; vertical-align: middle;">
                        <div>
                        <h4>MultiFol.io ran into a problem. We're sorry!</h4> 
                        To help us fix, please send the yellow text to the developer by:
                        <ul>
                            <li>email (Suggestions@multifol.io)</li>
                            <li>or via a bogleheads.org private message to "Rob Relyea"</li>
                        </ul>

                        <pre style=background-color:lightyellow>
                            @boundary?.CurrentException
                        </pre>
                        
                        </div>
                    </div>
                    </div>
                </ErrorContent>
            </MyErrorBoundary>
        </article>
    </main>

</div>

@code {
    private MyErrorBoundary? boundary;
}